// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width:1170px;
  margin: 0 auto;
}

.container2{
  width:100%;
  align-content: center;
  text-align: center;
}

.header1{
  text-align: center;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color: #a0dcfe;width:100%}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-hmp3{background-color:#e8edff;vertical-align:top;text-align: center}
.tg .tg-9353{font-weight:bold;text-decoration:underline;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-t2cw{font-weight:bold;text-decoration:underline;text-align:center;vertical-align:top}

